input {
    background-color: yellow;
}

h4 {
    border: 2px dotted black;
    padding: 2px;
}

#field-lastname {
    font-weight: bold;
}

h1 {
    font-family: sans-serif;
}

body {
    background-color: #ffccff;
}